body {
  overflow: hidden;
  margin: 0;
  background: url('../media/img/wood.jpg') no-repeat fixed center;
  color: white;
}

#container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#container h1 {
  margin: 0.2rem;
  text-shadow: 3px 3px 6px #000000;
  color: #f1f1f1;
}

#container p {
  margin: 0.2rem;
  position: absolute;
  top: 50px;
  left: 50%;
}

#canvasContainer {
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
  max-width: 100%;
}

#buttons-container {
  width: auto;
  margin: 1.3rem;
  /*height: auto;*/
}

#buttons-container .row {
  margin: 1rem;
  max-height: fit-content;
}

/* #buttons-container .row:nth-child(2) */

#buttons-container .row:first-child {
  position: relative;
  left: 18px;
}

/* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */

.tooltip .tt-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 62%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tt-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tt-text {
  visibility: visible;
  opacity: 1;
}

button {
  border: none;
  margin: 0 3px;
  padding: 1.5%;
  border-radius: 25px;
  color: #ffffff;
  background-color: #6495ed;
  min-width: 158px;
  cursor: pointer;
}

button#colorPal {
  padding: 15px;
  background-color: #c3c3c3;
  min-width: 15px;
  position: relative;
  bottom: 5px;
  left: 3px;
  cursor: pointer;
}

@media screen and (max-width: 785px) {
  #buttons-container {
    width: max-content;
    margin: 1.3rem 0;
    display: flex;
  }
  #buttons-container .row:first-child, button#colorPal {
    left: 0;
  }
  button#colorPal {
    bottom: 0;
  }
  button {
    margin: 5px;
    display: block;
    min-width: 10rem;
  }
  #container p {
    top: 51px;
    left: 19%;
  }
}