#canvasContainer {
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
  max-width: 100%;
}

#container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#container h1 {
  margin: 0.2rem;
}

#container p {
  margin: 0.2rem;
  position: absolute;
  top: 50px;
  left: 50%;
}

#buttons-container {
  width: auto;
  margin: 1.3rem;
}

#buttons-container .row {
  margin: 0.8rem;
  min-height: fit-content;
}

/* #buttons-container .row button:nth-child(2n + 0) {
  margin-bottom: 5px;
} */

#buttons-container .row:first-child {
  position: relative;
  left: 18px;
}

body {
  overflow: hidden;
}

/* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */

.tooltip .tt-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 62%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tt-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tt-text {
  visibility: visible;
  opacity: 1;
}

button {
  border: none;
  margin: 0 2px;
  padding: 1.5%;
  border-radius: 25px;
  color: #ffffff;
  background-color: #6495ed;
  min-width: 158px;
}

button#colorPal {
  padding: 15px;
  background-color: #c3c3c3;
  min-width: 15px;
  position: relative;
  bottom: 5px;
  left: 3px;
}